:root{
    --color-white: #fff;
    --color-black: #000;
    --color-header: #f9f9f9;
    --color-article-border: #eaeaea;
    
    --font: sans-serif;
    
    --shadow: 0.1rem 0.1rem 0.1rem var(--color-black) ;
    
}

*{
    box-sizing: border-box;
    font-family: var(--font);
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    height: 100vh;
}

/* HEADER */
.header {
    padding: 3.2rem 2.4rem;
    
    background: url(../images/nicole.jpg) no-repeat left;
    background-size: cover;
    color: var(--color-white);
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
}

.header__logo {
    padding-right: 0.4rem;
}

.header__title {
    text-transform: uppercase;
    display: flex;
    line-height: 1.6rem;
}

.header__title-oclock {
    width: 20%;
}

.header__intro {
    padding: 2.4rem 1.6rem 2.4rem 11.2rem;
    text-align: right;
    font-size: small;
    text-shadow: var(--shadow);
    
    background: #f9f9f933;
}

.header__intro-title {
    font-style: normal;
    font-size: x-large;
    font-weight: 700;
}

.header__intro-subtitle {
    padding-bottom: 0.8rem;
    font-weight: 300;
    font-style: italic;
}

.header__navbar {
    display: flex;
    justify-content: space-around;
    padding-left: 36%;
    font-size: 1.2rem;

    text-shadow: var(--shadow);   
}

.header__liens {
    text-decoration: none;
    color: var(--color-white);
}

/*MAIN*/
main {
    flex-grow: 1;
    flex-basis: 50%;
    background-color: var(--color-header);

    overflow: scroll;
}

.main__titleContainer {
    display: flex;
    align-items: center;
    
    height: 10vh;
    padding: 2.4rem;
    font-size: large;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-right: 1rem;
    overflow: auto;
}

article {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    
    padding: 1.6rem 2.4rem;
    height: 45vh;
    overflow: hidden;
}

.article--left {
  border-top: solid 1px var(--color-article-border);
  border-left: solid 1px var(--color-article-border);
}

.article--right {
  border-top: solid 1px var(--color-article-border);
  border-right: solid 1px var(--color-article-border);
  border-left: solid 1px var(--color-article-border);
}

.article__title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    font-size: large;
    height: 40%;
}

.article__tag {
    display: inline-block;
    
    font-size: x-small;
    color: white;
    padding: 0.5rem;
    border-radius: 3px;
}

.article__tag--news {
    background-color: #98DC62;
}

.article__tag--team {
    background-color: #DC5E53;
}

.article__tag--work {
    background-color: #0766F0;
}

.article__users {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 1.2rem;

    position: relative;
}

.article__img {
    width: 2.4rem;;
    height: 2.4rem;
    position: absolute;
    transform: translateY(-20%);
}

.article__linkUser {
    white-space: nowrap;
    padding: 0 1.2rem 0 2.8rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.artic__reading {
  color: #007bff;
  font-weight: bold;
}

.artic__reading:hover {
  color: #0056b3;
}

.article_time {
  white-space: nowrap;
    color: #C2C6CC;
    overflow-wrap: break-word;
}

figcaption {
    display: flex;
    flex-direction: column;
    
    row-gap: 2.4rem;
    height: 60%;
}